---

---
// Our variables
$light-blue: rgb(41, 171, 226);
$dark-blue: rgb(0, 113, 188);

//Global
body {
    color: $dark-blue;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans Condensed";
    min-height: 100%;
    width: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 1920px;
    width: 1080px;
}

h1{
    font-family: Pacifico;
    font-size: 72px
}
h2 {
    font-family: Pacifico;
    font-size: 32px
}

a {
    text-decoration: none;
}

a::visited {
    color: $dark-blue;
}

a:hover {
    color: $light-blue;
}

a:active {
    color: $light-blue;
}


//------------------------------------------
//IDs
#logo {
    height: 100px;
}

#navBar {
    width: 100%;
    height: 150px;
    background-color: $light-blue;

    li {
        display: inline-block;
        padding: 10px 100px 10px 100px;
    }
}
//Posts