<head>
		<meta charset=utf-8 />
		<title> {% if page.title %} {{page.title}} | {% endif %} PhySoc</title>
		<link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css" />
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Open+Sans+Condensed:300|Pacifico&subset=greek,greek-ext" rel="stylesheet">
</head>