---
layout: default
title: Posts
---

<section>
	<h2>Posts</h2>
</section>

<ul id="post_list">
	{% for post in site.posts %}
	<li>
		<a href="{{ post.url }}">
			<img class="post_image" src="{{site.baseurl}}/img/{{ post.image }}" />
		</a>
	</li>
	{% endfor %}
</ul>
