<!DOCTYPE html>
	{% include head.html %}
	<body>
		<div id="nav_bar">
			<ul>
				<li><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo.png"></a></li>
				<li><a href="{{site.baseurl}}/posts">Posts</a></li>
				<li><a href="{{site.baseurl}}/posts">About</a></li>
			</ul>
		</div>
		
		{{content}}
	</body>
</html>