---
layout: default
---

<h2>{{page.title}}</h2>

<div class="post_image"><img src="{{site.baseurl}}/img/{{page.image}}" alt=""></div>

<div class="post_info">
    <ul>
        <li>{{page.author}}</li>
        <li>{{page.date | date_to_long_string}}</li>
    </ul>
</div>

<div class="post_content">
    {{content}}
</div>